body {
    background-color: rgba(194, 24, 91, 0.1);
}

#Contenitore {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
}

.ElencoAnni {
    position: fixed;
    display: inline-block;
    width: 10%;
    top: 100px;
    min-height: 100px;
    text-align: left;
}

.PnlRisorse {
    height: 50px;
}

.DdlRisorse {
    width: 500px;
    margin-left: 10px;
}

.DivDashBoard {
    position: relative;
    width: 88%;
    top: 100px;
    text-align: center;
    margin: auto;
}

.DivSingleChart {
    display: inline-block;
    position: relative;
    height: 300px;
    width: 42%;
    padding: 5px;
    vertical-align: middle;
    margin: 5px 5px;
    background: #FFFFFF;
    border: 1px solid #606060;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.1);
}

.BottoneAnno {
    border: thin solid rgb(21, 101, 192);
    background-color: rgb(21, 101, 192);
    text-decoration: none;
    width: 120px;
    height: 40px;
    color: White;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    margin-top: 10px;
}

    .BottoneAnno:hover {
        background-color: white;
        color: rgb(21, 101, 192);
    }

.BottoneAnnoSelected {
    border: thin solid rgb(21, 101, 192);
    background-color: white;
    text-decoration: none;
    width: 120px;
    height: 40px;
    color: rgb(21, 101, 192);
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    margin-top: 10px;
}

    .BottoneAnnoSelected:hover {
        background-color: rgb(21, 101, 192);
        color: white;
    }
