body {
    background-color: rgba(63, 81, 181, 0.15);
}

#Contenitore {
    position: absolute;
    top: 80px;
    right: 0px;
    left: 0px;
}

#ParametriRicerca {
    position: relative;
    top: 5px;
}

#RbtnOperazione td {
    padding: 10px 0;
}

.Parametri tr {
    height: 40px;
}

.Parametri td {
    min-width: 100px;
}

.Parametri td:nth-child(2n) {
    padding-right: 25px;
}

.SceltaOperazione {
    width: 10%;
    text-align: left;
    border-right-color: darkgray;
    border-right-style: solid;
    border-right-width: 1px;
}

.TastiCercaNuovoPulisci {
    width: 10%;
    text-align: right;
}

.BottoneNuovo {
    border: thin solid rgb(0, 153, 51);
    background-color: rgb(0, 153, 51);
    text-decoration: none;
    width: 150px;
    height: 50px;
    color: White;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    margin-top: 10px;
}

    .BottoneNuovo:hover {
        background-color: white;
        color: rgb(0, 153, 51);
    }

.BottoneCerca {
    border: thin solid rgb(48,63,159);
    background-color: rgb(48,63,159);
    text-decoration: none;
    width: 150px;
    height: 50px;
    color: White;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    margin-top: 10px;
}

    .BottoneCerca:hover {
        background-color: white;
        color: rgb(48,63,159);
    }

.BottonePulisci {
    border: thin solid rgb(255,143,0);
    background-color: rgb(255,143,0);
    text-decoration: none;
    width: 150px;
    height: 50px;
    color: White;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    margin-top: 10px;
}

    .BottonePulisci:hover {
        background-color: white;
        color: rgb(255,143,0);
    }

.BottoneFiltra {
    background-color: rgb(48,63,159);
    border: thin solid rgb(48,63,159);
    color: #FFFFFF;
    width: 220px;
    height: 20px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

    .BottoneFiltra:hover {
        background-color: white;
        color: rgb(48,63,159);
    }

.BottoneNuovoThin {
    border: thin solid rgb(0,121,107);
    background-color: rgb(0,121,107);
    text-decoration: none;
    width: 100px;
    height: 30px;
    color: White;
    font-weight: bolder;
    font-size: medium;
    cursor: pointer;
}

    .BottoneNuovoThin:hover {
        background-color: white;
        color: rgb(0,121,107);
    }

.BottonePulisciThin {
    border: thin solid rgb(255,143,0);
    background-color: rgb(255,143,0);
    text-decoration: none;
    width: 100px;
    height: 30px;
    color: White;
    font-weight: bolder;
    font-size: medium;
    cursor: pointer;
}

    .BottonePulisciThin:hover {
        background-color: white;
        color: rgb(255,143,0);
    }

.BottoneChiudiThin {
    border: thin solid rgb(211,47,47);
    background-color: rgb(211,47,47);
    text-decoration: none;
    width: 100px;
    height: 30px;
    color: White;
    font-weight: bolder;
    font-size: medium;
    cursor: pointer;
}

    .BottoneChiudiThin:hover {
        background-color: white;
        color: rgb(211,47,47);
    }

#LegendaIconeTasks {
    border: 1px solid black;
    padding: 8px 0;
    margin: 5px auto;
    width: 98%;
    text-align: center;
}

.testoLeggenda {
    position: relative;
    top: -8px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 100px;
}

#TotaliOre {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

#RisultatiRicerca {
    position: relative;
    top: 10px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

.GrdRisultatiRicerca {
    border-collapse: separate !important;
    background-color: transparent !important;
}

    .GrdRisultatiRicerca > tbody > tr {
        border: 1px solid DarkGrey;
    }

        .GrdRisultatiRicerca > tbody > tr > td {
            background-color: white;
        }

        .GrdRisultatiRicerca > tbody > tr > td:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .GrdRisultatiRicerca > tbody > tr > td:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

.GridDatiSuRiga {
    border-left: 1px solid DarkGrey;
}

    .GridDatiSuRiga > tbody > tr > td:last-child {
        padding-left: 5px;
    }

#DivTasks {
    display: inline-block;
    width: 520px;
    min-height: 60px;
    max-height: 70px;
    overflow: auto;
    padding: 0 3px;
}

.BottoneModificaInGriglia {
    border: thin solid rgb(123,31,162);
    background-color: rgb(123,31,162);
    text-decoration: none;
    width: 65px;
    height: 25px;
    color: White;
    cursor: pointer;
}

    .BottoneModificaInGriglia:hover {
        background-color: white;
        color: rgb(123,31,162)
    }

.BottoneEliminaInGriglia {
    border: thin solid rgb(191,54,12);
    background-color: rgb(191,54,12);
    text-decoration: none;
    width: 65px;
    height: 25px;
    color: White;
    cursor: pointer;
}

    .BottoneEliminaInGriglia:hover {
        background-color: white;
        color: rgb(191,54,12);
    }

.BottoneTasksInGriglia {
    border: thin solid rgb(96,125,139);
    background-color: rgb(96,125,139);
    text-decoration: none;
    width: 65px;
    height: 25px;
    color: White;
    cursor: pointer;
}

    .BottoneTasksInGriglia:hover {
        background-color: white;
        color: rgb(96,125,139);
    }

.BottoneModificaTasksInGriglia {
    border: thin solid rgb(25,118,210);
    background-color: rgb(25,118,210);
    text-decoration: none;
    width: 65px;
    height: 25px;
    color: White;
    cursor: pointer;
}

    .BottoneModificaTasksInGriglia:hover {
        background-color: white;
        color: rgb(25,118,210);
    }

.BottoneEliminaTasksInGriglia {
    border: thin solid rgb(191,54,12);
    background-color: rgb(191,54,12);
    text-decoration: none;
    width: 65px;
    height: 25px;
    color: White;
    cursor: pointer;
}

    .BottoneEliminaTasksInGriglia:hover {
        background-color: white;
        color: rgb(191,54,12);
    }